.form-footer {
 
    margin-left: 8px;
    &__header {
        text-transform: uppercase;
        font-style: normal;
        padding: 12px 0 20px 0;
      }
  &__button {
    font-family: $fontPrimary;
    background-color: $themeColor;
    color: $lightColor;
    font-weight: 700;
    line-height: 1.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    letter-spacing: 0.06em;
    padding: 10px 28px 10px 42px;
    margin-left: 12px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    &:first-letter {
    text-transform: uppercase;}
 }
&__button-icon {
    fill: $lightColor;
    margin-left: 24px;
  }
&__email {
    font-family: $fontPrimary;
    background-color: $greyColor;
    padding: 15px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $lightColor;
  }
}