.logo {
    color: $themeColor;
    padding-right: 47px;
    font-weight: 700;
    font-family: $fontSecond;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    
&--dark {
   color: $brandColor;
  }
&--light {
    color: $lightColor;
  }
}
