.team {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding-top: 50px;
 
  @include tablet {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100% - 90px) / 2);
  }

  @include desktop {
    display: inline-flex;
    flex-direction: row;
    flex-basis: calc((100% - 90px) / 4);
  }

 
  &__item {
     background: $lightColor;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
       0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0px 0px 4px 4px;
     text-align: center;
   }
   &__name {
    font-weight: 500;
    line-height: 1.2;
    padding-top: 30px;
  }
  &__role {
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 16px;
  }
  &__icons {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
  }
  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    background-color: $lightColor;
    display: flex;
    flex-basis: calc((100% - 40px) / 4);
    gap: 10px;
    justify-content: center;
    align-content: center;
    &:hover,
    &:focus,
    &:hover svg {
    background-color: $themeColor;
    fill: $lightColor;
    $iconColor: $lightColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }
  }
}